<div class="author">
  <img
    class="author-avatar"
    src="{{ site.author.avatar }}"
    alt="{{ site.author.username }}"
  />
  <h2 class="author-name">{{ site.author.name }}</h2>
  <p class="author-bio">{{ site.author.bio }}</p>

  <!--
  <a href="https://hits.seeyoufarm.com">
      <style>
          .hits {
              width: auto; height: auto;
              max-width: 99px;
              max-height: 20px;
          }
      </style>
    <img class="hits" src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Feehoeskrap.github.io&count_bg=%23FF5555&title_bg=%23303030&icon=&icon_color=%23E7E7E7&title=hits&edge_flat=false"/>
  </a>
  -->

  <div align=center>
    <a href="https://hits.seeyoufarm.com">
      <img src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Feehoeskrap.github.io&count_bg=%23FF5555&title_bg=%23303030&icon=&icon_color=%23E7E7E7&title=hits&edge_flat=false"/>
    </a>
    <a href="http://eehoeskrap.tistory.com/">
      <img src="https://img.shields.io/badge/Blog-Tistory-ff69b1?style=flat-square&logo=github&link=http://eehoeskrap.tistory.com/">
    </a>
    <a href="mailto:eehoeskrap@gmail.com">
      <img src="https://img.shields.io/badge/-Gmail-d14836?style=flat-square&logo=Gmail&logoColor=white&link=mailto:eehoeskrap@gmail.com">
    </a>
  </div>

</div>